body {
    background: #121212 !important;
    color: whitesmoke !important;
}
.navbar {
    background: #1E1E1E !important;
    color: #c5daed !important; /* 70% tint of #3F82C4 */
}
.navbar-brand {
    color: #c5daed !important; /* 70% tint of #3F82C4 */
}
.nav-link {
    color: #c5daed !important; /* 70% tint of #3F82C4 */
}
#icon {
    color: whitesmoke !important;
    filter: brightness(0) saturate(100%) invert(89%) sepia(8%) saturate(666%) hue-rotate(173deg) brightness(95%) contrast(95%);
}
#themetoggler:hover {
    background-color: #252525;
}

#about {
    color: whitesmoke;
}

.navbar-toggler {
    color: whitesmoke !important;
    fill: whitesmoke !important;
    border-color: whitesmoke !important;
}

.card {
    background: #1E1E1E !important;
    color: whitesmoke !important;
}
.btn-primary {
    background-color: #3F82C4;
}
.evens {
    background-color: #1E1E1E !important;
}
.odds {
    background-color: #181818 !important;
}
.license {
    background-color: #1E1E1E;
}

h1,h2 {
    color: #c5daed !important; /* 70% tint of #3F82C4 */
}
