body {
    background: #f5f5f5 !important;
    color: black !important;
}
.navbar {
    background: #e7e7e7 !important;
    color: #204162 !important; /* 50% tint of #3F82C4 */
}
.navbar-brand {
    color: #204162 !important; /* 50% tint of #3F82C4 */
}
.nav-link {
    color: #204162 !important; /* 50% tint of #3F82C4 */
}
#icon {
    color: black !important;
    filter: brightness(0) saturate(100%) invert(20%) sepia(97%) saturate(365%) hue-rotate(169deg) brightness(92%) contrast(93%);
}
#themetoggler:hover {
    background-color: #dadada;
}

#about {
    color: black;
}
#about:hover {
    background-color: rgb(188, 188, 188);
}

.card1, .card2, .card3 {
    background: #f5f5f5 !important;
    color: black !important;
}
.evens {
    background-color: #f0f0f0 !important;
}
.odds {
    background-color: #e7e7e7 !important;
}
.btn-primary {
    background-color: #3F82C4;
    color: white !important;
}
.license {
    background-color: #e7e7e7;
}
h1,h2 {
    color: #204162 !important; /* 50% tint of #3F82C4 */
}
